{% extends 'base.html' %}
{% block content %}

{% load cart %}


 <!-- body -->
   
    <div class="container-fluid mt-3">
      <div class="row">
          <!-- filter -->
            <div class="col-lg-3 mx-auto">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  Categories
                </a>
                <a href="/" class="list-group-item list-group-item-action">All products</a>
                
                {% for category in categories %}
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
                </div>
            </div>
          <!-- all products -->

        <div id="products" class="col-lg-9 mx-auto">
          <div class="row mx-auto">

      
            {% for i in products %}
                 <!-- <table>
                     <tr>
                         <td>{{i.name}}</td>
                         <td> : {{i.price}}</td>
                         <td> : {{i.category.name}}</td>
                         <td> : {{i.image}}</td>
                     </tr>
                 </table> -->
                 <div class="card mx-auto mb-3" style="width: 18rem;">
                   <img src="{{i.image.url}}" class="card-img-top" alt="Card image cap">
                  <div class="card-body">
                     <p class="card-title">{{i.name}}</p>
                     <p class="card-text"><b>{{i.price}}</b></p>
                      {{ i | is_in_cart:request.session.cart }}
                     <form action="/" method="POST">
                      {% csrf_token %}
                     <input hidden name="product" value="{{i.id}}">
                    <input type="submit" class="float-right btn-block btn btn-light border form-control" value="Add To Cart">
                    </form>
                    </div>
                  </div>
         
             {% endfor %}
           </div>
        </div>
      </div>

</div>
{% endblock %}
